.appliedJob {
  width: 100%;
  box-shadow: 0 2px 8px rgb(0 0 0 / 12%);
  margin: 30px;
  border-radius: 15px;
  height: 261px;
  border: 4px solid rgb(83, 83, 83);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.viewApp {
  background-color: rgb(16 47 232) !important;
  color: white !important;
  border: 2px solid #3f51b5 !important;
  width: fit-content;
}
