.body {
  height: 100%;
}
.bodyTop {
  height: 88vh;
  display: flex;
  align-items: center;
}
.bodyExtremeLeft {
  height: 112vh;
  flex: 0.4 1;
  background-color: #ffc0c0;
}
.bodyTop-Left {
  flex: 1;
  background-image: url("./assets/Landingpage-Image1.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
  left: -225px;
}
.bodyTop-Right {
  flex: 0.5;
  text-align: left;
  position: relative;
  left: -155px;
}
.qwename {
  font-size: 45px;
  font-weight: 700;
  color: #03192b;
}
.qwename > span {
  color: #ff004b !important;
}
.bodyTop-Right > p {
  font-size: 20px;
  font-weight: 300;
  color: #ff004b;
  margin-top: 30px;
}
.bodyTop-righttop {
  display: flex;
  align-items: center;
}
.rightBar {
  height: 4px;
  width: 100px;
  background-color: #ff004b;
}
.bodyMiddle {
  text-align: center;
  position: relative;
  top: 133px;
  height: 50vh;
}
.bodyMiddle > h2 {
  font-size: 30px;
  font-weight: 400;
  color: #ff004b;
  margin-bottom: 20px;
}
.bodyTop-Right > button {
  background-color: #ffffff;
  color: #ff004b;
  border: 2px solid #ff004b;
  outline-width: 0;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50px;
  padding: 6px 36px;
  margin-top: 26px;
  cursor: pointer;
}
.bodyMiddle > button {
  background-color: #ff004b;
  color: white;
  border: none;
  outline-width: 0;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50px;
  padding: 10px 36px;
  margin-top: 26px;
  cursor: pointer;
}
.bodyMiddle2 {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  width: 70%;
  margin: 20px auto;
  box-shadow: 0 2px 8px 2px gray;
  padding: 40px;
  color: #ff004b;
}
.section1-image {
  background-image: url("./assets/graduated.png");
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50px;
  margin: 20px;
}
.section2-image {
  background-image: url("./assets/lawyer.png");
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50px;
  margin: 20px;
}
.section3-image {
  background-image: url("./assets/goal.png");
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50px;
  margin: 20px;
}
.section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bodyBottom {
  background-image: url("./assets/0.2.png");
  background-position: center;
  background-size: cover;
  width: -webkit-fill-available;
  height: 112vh;
  margin-top: 40px;
}
