.dashboard {
  width: 80vw;
  height: 100vh;
  overflow: scroll;
}
.dashboardHeader {
  border-bottom: 1px solid darkslategray;
}
.link5 {
  text-decoration: none;
  font-size: 25px;
  font-weight: 300;
  margin-left: 90%;
  padding: 10px 20px;
}
.dashboardMiddle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
.numberCount {
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);

  border-radius: 20px;
  padding: 30px;
  width: 155px;
  height: 75px;
  box-shadow: 0 8px 10px #80808082;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.numberCount > h1 {
  font-weight: 400;
}
.numberCount > p {
  font-weight: 400;
  font-size: 15px;
  color: #000a54;
}
.color2 {
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}
.color3 {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}
.interested {
  width: -webkit-fill-available;
  display: flex;
  padding: 0 40px 30px;
  flex-wrap: wrap;
}
.dashboardBottom > h2 {
  font-weight: 400;
  font-size: 25px;
  color: #000a54;
  margin: 10px 50px;
}
.dashboardBottom > h3 {
  font-weight: 400;
  font-size: 15px;
  color: #000a54;
  margin: 40px 50px 5px;
}
.radiobuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 22% !important;
  margin: 0px !important;
}
.table {
  margin-top: 70px  !important;
  margin-bottom: 15px;
}
table,
th,
td {
  border: 1px solid rgb(130, 209, 94);
}
th {
  background-color: rgb(150, 211, 122);
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 3px;
}
.textareas {
  width: 147px;
  height: 200px;
  margin: 0;
  border: none !important;
}
.ques {
  background-color: rgba(150, 211, 122, 0.336);
  padding: 10px;
}
.expyr {
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  outline-width: 0;
  border: 1px solid gray;
  font-size: 15px;
}
.tableGroup {
  display: flex;
  align-items: center;
  margin-left: 70%;
  padding: 30px;
}
.tableButton {
  padding: 6px 20px;
  margin-top: 30px;
  margin-right: 20px;
  border-radius: 50px;
  color: #ffffff;
  background-color: rgb(29 29 29);
  border: 2px solid #5f5e5e;
  width: 141px;
  outline-width: 0;
  cursor: pointer;
}
.tableButton:hover {
  box-shadow: 0 5px 10px gray;
}
